/*
    attacks certain parts like "body" etc.
    can also attack class names like logo, etc
    anchors tag contains a href
*/

/*
    tailwind framework
    next.js
*/
/* body {
    height: 100vh;

    background-color: #96B6C5;
    background-size: cover;
    background-position: center;
} 

.box {
    background-color: indianred;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
}

.logo {
    text-align: center;
    height: 50%;
} */

/*
    keyframes: classes that do an action for stuff in the .html
*/